@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color1: hsl(31, 77%, 52%);
    --color2: hsl(184, 100%, 22%);
    --color3: hsl(179, 100%, 13%);

    --highlight-font-color: hsl(0, 0%, 95%); 
    --lowlight-font-color: hsla(0, 0%, 100%, 0.75);

    --highlight-font: 'Big Shoulders';
    --lowlight-font: 'Lexend Deca';
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    width: 50rem;
}

.container h1 {
    font-family: var(--highlight-font);
    color: var(--highlight-font-color);
    font-weight: 700;
    padding: 2rem 0rem 2rem 0rem;
}

.container p {
    font-family: var(--lowlight-font);
    color: var(--lowlight-font-color);
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 6rem;
}

.container a {
    padding: 0.8rem;
    border: solid 2px var(--highlight-font-color);
    border-radius: 99px;
    cursor: pointer;
    background: var(--highlight-font-color);
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: var(--lowlight-font);
    font-weight: 400;
}

.container a:hover{
    transform: scale(0.9);
    box-shadow: 0 0 15px rgba(223, 223, 223, 0.603);
    background: transparent;
}

.container a:hover {
    color: white;
}

.sedans a {
    color: var(--color1);
}

.suv a {
    color: var(--color2);
}

.luxury a {
    color: var(--color3);
}

.sedans {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    padding: 2rem 0rem 2rem 0rem;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.5s ease;
}

.sedans:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--color1);
    z-index: 1;
}


.suv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2);
    padding: 2rem 0rem 2rem 0rem;
    transition: all 0.5s ease;
}

.suv:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--color2);
    z-index: 1;
}

.luxury {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color3);
    padding: 2rem 0rem 2rem 0rem;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.5s ease;
}

.luxury:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--color3);
    z-index: 1;
}

.content-text {
    text-align: start;
    width: 200px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 1rem;
    font-family: var(--lowlight-font);
}
.attribution a {
    color: hsl(228, 45%, 44%); 
    font-family: var(--lowlight-font);
}

@media screen and (max-width: 768px){

    .attribution {
        position: absolute;
        top: 0;
        margin-top: 4px;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 60%;
    }

    .sedans {
        border-radius: 10px 10px 0px 0px;
    }

    .luxury {
        border-radius: 0px 0px 10px 10px;
    }
}

@media screen and (max-width: 420px){
    .container{
        height: 80%;
        width: 70%;
    }
}